//-
	Head
	
	Source: https://github.com/joshbuchea/HEAD

mixin head()
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
	title= base.title
	meta(name="description" content=base.description)
	
	- if(base.index == true)
		meta(name="robots" content="index,follow")
		meta(name="googlebot" content="index,follow")
	-else
		meta(name="robots" content="noindex,nofollow")
		meta(name="googlebot" content="noindex,nofollow")
	
	link(rel="canonical" href=base.url + base.path)

	//Open Graph
	meta(property="og:url" content=base.url + base.path)
	meta(property="og:type" content="website")
	meta(property="og:title" content=base.title)
	meta(property="og:description" content=base.description)
	meta(property="og:site_name" content=base.name)
	meta(property="og:locale" content="en_US")
